.student-signs-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filters-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  color: #555;
  flex: 1;
  min-width: 150px;
}

.filters-container input:focus {
  border-color: #0056b3;
  outline: none;
}

.student-signs-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.student-signs-table th,
.student-signs-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #555;
}

.student-signs-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.student-signs-table td input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  color: #555;
}

.student-signs-table td input:focus {
  border-color: #0056b3;
  outline: none;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background-color: #D42323;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #0056b3;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-button {
  background-color: #D42323;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #0056b3;
}

.add-student-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.add-student-form-container-h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
  padding-bottom: 20px;
}

.add-student-form-group {
  margin-bottom: 15px;
}

.add-student-form-group-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.add-student-form-group-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  color: #555;
}

.add-student-form-group-input:focus {
  border-color: #0056b3;
  outline: none;
}

.add-student-form-submit-button {
  background-color: #D42323;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-student-form-submit-button:hover {
  background-color: #0056b3;
}

.add-student-form-error-message {
  color: red;
  margin-top: 10px;
}
